@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-mono:  "Inter", sans-serif;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  background: #080808;
  color: #fff;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

textarea, input, button { font-family: 'Inter', sans-serif; }
